<template>
  <div class="container-login">
    <form @submit="handleSubmit">
      <TextField
        @handleInput="handleInput"
        v-for="(data, index) in form"
        :data="data"
        :key="index"
      />
      <ButtonFilledBlock
        :isLoading="isLoading"
        :disabled="isLoading"
        :label="isRegister ? 'REGISTER' : 'LOGIN'"
      />
    </form>
    <ButtonOutlinedBlock
      :disabled="isLoading"
      @handleRegister="handleRegister"
      :isLoading="isLoading"
      :label="isRegister ? 'BACK TO LOGIN' : 'REGISTER'"
    />
  </div>
  <Modal widthModal="40%" @handleCloseModal="handleCloseModal" :modal="modal" />
</template>

<script>
import TextField from "../components/TextField.vue";
import ButtonFilledBlock from "../components/ButtonFilledBlock.vue";
import ButtonOutlinedBlock from "../components/ButtonOutlinedBlock.vue";
import Modal from "../components/Modal.vue";
import { PostLogin } from "../services/retrieveData";
import { PostRegister } from "../services/retrieveData";

export default {
  name: "Login",
  components: {
    TextField,
    ButtonFilledBlock,
    ButtonOutlinedBlock,
    Modal,
  },
  data() {
    return {
      isLoading: false,
      isRegister: false,
      modal: {
        isShow: false,
        headerTitle: "",
        message: "",
      },
      formData: null,
      form: [
        {
          fieldLabel: "Username",
          fieldName: "username",
          fieldPlaceholder: "Please fill username",
          fieldType: "text",
          required: true,
          defaultValue: "",
        },
        {
          fieldLabel: "Password",
          fieldName: "password",
          fieldPlaceholder: "Please fill password",
          fieldType: "password",
          required: true,
          defaultValue: "",
        },
      ],
    };
  },
  methods: {
    isLoginForm() {
      this.isRegister = false;

      this.form = [
        {
          fieldLabel: "Username",
          fieldName: "username",
          fieldPlaceholder: "Please fill username",
          fieldType: "text",
          required: true,
          defaultValue: "",
        },
        {
          fieldLabel: "Password",
          fieldName: "password",
          fieldPlaceholder: "Please fill password",
          fieldType: "password",
          required: true,
          defaultValue: "",
        },
      ];
    },
    isRegisterForm() {
      this.isRegister = true;
      this.form = [
        ...this.form,
        {
          fieldLabel: "First Name",
          fieldName: "firstName",
          fieldPlaceholder: "Please fill first name",
          fieldType: "text",
          required: true,
          defaultValue: "",
        },
        {
          fieldLabel: "Last Name",
          fieldName: "lastName",
          fieldPlaceholder: "Please fill last name",
          fieldType: "text",
          required: true,
          defaultValue: "",
        },
        {
          fieldLabel: "Email",
          fieldName: "email",
          fieldPlaceholder: "Please fill email",
          fieldType: "email",
          required: true,
          defaultValue: "",
        },
        {
          fieldLabel: "Phone Number",
          fieldName: "phoneNumber",
          fieldPlaceholder: "Please fill phone number",
          fieldType: "number",
          required: true,
          defaultValue: "",
        },
      ];
    },
    handleRegister() {
      if (!this.isRegister) {
        this.isRegisterForm();
      } else {
        this.isLoginForm();
      }
    },
    async handleSubmit(e) {
      e.preventDefault();
      this.isLoading = true;

      if (this.isRegister) {
        const res = await PostRegister(
          (this.formData = { ...this.formData, isActive: false })
        );
        const resData = await res.json();

        if (resData.token) {
          this.isLoading = false;
          this.modal = {
            isShow: true,
            message: "Welcome " + resData.username + ", please login again",
            headerTitle: "Success register",
          };
          this.isLoginForm();
        } else {
          this.isLoading = false;
          this.modal = {
            isShow: true,
            message: resData.message,
            headerTitle: "Failed register",
          };
        }
      } else {
        const res = await PostLogin(this.formData);
        const resData = await res.json();

        if (resData.token) {
          this.isLoading = false;
          localStorage.setItem("dataUser", JSON.stringify(resData));
          this.$router.push("/users");
        } else {
          this.isLoading = false;
          this.modal = {
            isShow: true,
            message: resData.message,
            headerTitle: "Failed login",
          };
        }
      }
    },
    handleInput(name, value) {
      this.formData = { ...this.formData, [name]: value };
    },
    handleCloseModal(val) {
      this.modal = { ...this.modal, isShow: val };
    },
  },
  created() {
    const res = localStorage.getItem("dataUser");
    const resParse = JSON.parse(res);

    if (resParse && resParse.token) {
      this.$router.push("/users");
    }
  },
};
</script>

<style scoped>
.container-login {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid #42b983;
  padding: 30px;
  border-radius: 30px;
}
</style>
