<template>
  <p>
    404 Page Not Found
    <span
      ><router-link style="color: #333" to="/">{{
        isAuthenticated ? "Go Back Home" : "Go Back Login"
      }}</router-link></span
    >
  </p>
</template>

<script>
export default {
  name: "PageNotFound",
  data() {
    return {
      isAuthenticated: false,
    };
  },
  created() {
    const res = localStorage.getItem("dataUser");
    const resParse = JSON.parse(res);

    if (resParse && resParse.token) {
      this.isAuthenticated = true;
    }
  },
};
</script>

<style></style>
