<template>
  <WrapperContent>
    <div class="container">
      <div style="justify-content: flex-end; display: flex">
        <ButtonFilled @click="handleAdd" label="ADD" />
      </div>
      <Table
        @handleView="handleView"
        @handleEdit="handleEdit"
        @handleDelete="handleDelete"
        :dataTable="dataTable"
      />
    </div>
  </WrapperContent>
  <Modal @handleCloseModal="handleCloseModal" :modal="modal">
    <div v-show="modal.headerTitle === 'VIEW'">
      <p
        style="font-weight: bold; margin-bottom: 8px"
        v-for="(value, name, index) in modal.dataRow"
        :key="index"
      >
        {{ name + " : " }}<span style="font-weight: normal">{{ value }}</span>
      </p>
    </div>
    <div v-show="modal.headerTitle === 'EDIT'">
      <form @submit="handleUpdate">
        <TextField
          @handleInput="handleInput"
          v-for="(data, index) in modal.listMenu"
          :data="data"
          :key="index"
        />
        <ButtonFilledBlock
          :isLoading="isLoading"
          :disabled="isLoading"
          label="SAVE"
        />
      </form>
    </div>
    <div v-show="modal.headerTitle === 'ADD'">
      <form @submit="handleSubmit">
        <TextField
          @handleInput="handleInput"
          v-for="(data, index) in modal.listMenu"
          :data="data"
          :key="index"
        />
        <ButtonFilledBlock
          :disabled="isLoading"
          :isLoading="isLoading"
          label="CREATE"
        />
      </form>
    </div>
    <div
      style="display: flex; justify-content: flex-end"
      v-show="modal.headerTitle === 'DELETE'"
    >
      <ButtonFilled
        color="#f44336"
        :isLoading="isLoading"
        @click="onDelete"
        label="Yes, Deleted it"
      />
    </div>
  </Modal>
</template>

<script>
import WrapperContent from "../components/WrapperContent.vue";
import Table from "../components/Table.vue";
import Modal from "../components/Modal.vue";
import ButtonFilled from "../components/ButtonFilled.vue";
import TextField from "../components/TextField.vue";
import ButtonFilledBlock from "../components/ButtonFilledBlock.vue";
import {
  getListUsers,
  PostRegister,
  PutUsers,
  deleteUser,
} from "../services/retrieveData";

export default {
  name: "Users",
  components: {
    WrapperContent,
    Table,
    Modal,
    ButtonFilled,
    TextField,
    ButtonFilledBlock,
  },
  data() {
    return {
      dataTable: [],
      isLoading: false,
      formData: null,
      modal: {
        isShow: false,
        headerTitle: "",
        message: "",
        dataRow: null,
        listMenu: [],
      },
    };
  },
  created() {
    this.fetchListUsers();
    this.checkIsAuthenticated();
  },
  methods: {
    async fetchListUsers() {
      this.isLoading = true;
      const res = await getListUsers();
      const response = await res.json();

      if (Array.isArray(response) && response.length > 0) {
        this.isLoading = false;
        this.dataTable = response;
      }
    },
    checkIsAuthenticated() {
      const res = localStorage.getItem("dataUser");
      if (!res) {
        this.$router.push("/");
      }
    },
    handleView(e) {
      this.modal = {
        ...this.modal,
        isShow: true,
        headerTitle: "VIEW",
        dataRow: e,
        message: "",
      };
    },
    handleEdit(e) {
      this.modal = {
        ...this.modal,
        isShow: true,
        dataRow: e,
        message: "",
        headerTitle: "EDIT",
        listMenu: [
          {
            fieldLabel: "Username",
            fieldName: "username",
            fieldPlaceholder: "Please fill username",
            fieldType: "text",
            required: true,
            defaultValue: e.username,
          },
          {
            fieldLabel: "First Name",
            fieldName: "firstName",
            fieldPlaceholder: "Please fill first name",
            fieldType: "text",
            required: true,
            defaultValue: e.firstName,
          },
          {
            fieldLabel: "Last Name",
            fieldName: "lastName",
            fieldPlaceholder: "Please fill last name",
            fieldType: "text",
            required: true,
            defaultValue: e.lastName,
          },
          {
            fieldLabel: "Email",
            fieldName: "email",
            fieldPlaceholder: "Please fill email",
            fieldType: "email",
            required: true,
            defaultValue: e.email,
          },
          {
            fieldLabel: "Phone Number",
            fieldName: "phoneNumber",
            fieldPlaceholder: "Please fill phone number",
            fieldType: "number",
            required: true,
            defaultValue: e.phoneNumber,
          },
        ],
      };
    },
    handleDelete(e) {
      this.modal = {
        ...this.modal,
        isShow: true,
        headerTitle: "DELETE",
        dataRow: e,
        message: "Are you sure want to delete this data?",
      };
    },
    handleAdd() {
      this.modal = {
        ...this.modal,
        isShow: true,
        headerTitle: "ADD",
        listMenu: [
          {
            fieldLabel: "Username",
            fieldName: "username",
            fieldPlaceholder: "Please fill username",
            fieldType: "text",
            required: true,
            defaultValue: "",
          },
          {
            fieldLabel: "Password",
            fieldName: "password",
            fieldPlaceholder: "Please fill password",
            fieldType: "password",
            required: true,
            defaultValue: "",
          },
          {
            fieldLabel: "First Name",
            fieldName: "firstName",
            fieldPlaceholder: "Please fill first name",
            fieldType: "text",
            required: true,
            defaultValue: "",
          },
          {
            fieldLabel: "Last Name",
            fieldName: "lastName",
            fieldPlaceholder: "Please fill last name",
            fieldType: "text",
            required: true,
            defaultValue: "",
          },
          {
            fieldLabel: "Email",
            fieldName: "email",
            fieldPlaceholder: "Please fill email",
            fieldType: "email",
            required: true,
            defaultValue: "",
          },
          {
            fieldLabel: "Phone Number",
            fieldName: "phoneNumber",
            fieldPlaceholder: "Please fill phone number",
            fieldType: "number",
            required: true,
            defaultValue: "",
          },
        ],
      };
    },
    handleCloseModal(val) {
      this.modal = { ...this.modal, isShow: val };
    },
    async handleSubmit(e) {
      e.preventDefault();
      this.isLoading = true;

      const res = await PostRegister(
        (this.formData = { ...this.formData, isActive: false })
      );
      const resData = await res.json();

      if (resData.token) {
        this.isLoading = false;
        this.fetchListUsers();
        this.modal = {
          isShow: true,
          message: "Success add " + resData.username,
          headerTitle: "Success add new data",
        };
      } else {
        this.isLoading = false;
        this.modal = {
          isShow: true,
          message: resData.message,
          headerTitle: "Failed add new data",
        };
      }
    },
    async handleUpdate(e) {
      e.preventDefault();
      this.isLoading = true;

      const res = await PutUsers(
        (this.formData = { ...this.formData, isActive: false }),
        this.modal.dataRow.id
      );
      const resData = await res.json();

      if (res.status === 200) {
        this.isLoading = false;
        this.fetchListUsers();
        this.modal = {
          isShow: true,
          message: "Success updated " + resData.username,
          headerTitle: "Success updated data",
        };
      } else {
        this.isLoading = false;
        this.modal = {
          isShow: true,
          message: resData.message,
          headerTitle: "Failed updated data",
        };
      }
    },
    async onDelete() {
      this.isLoading = true;

      const res = await deleteUser(this.modal.dataRow.id);
      const resData = await res.json();

      if (res.status === 200) {
        this.isLoading = false;
        this.fetchListUsers();
        this.modal = {
          isShow: true,
          message: "Success deleted",
          headerTitle: "Success deleted data",
        };
      } else {
        this.isLoading = false;
        this.modal = {
          isShow: true,
          message: resData.message,
          headerTitle: "Failed deleted data",
        };
      }
    },
    handleInput(name, value) {
      this.formData = { ...this.formData, [name]: value };
    },
  },
};
</script>
<style scoped>
.container {
  margin: 30px;
  background: #fff;
  padding: 50px;
  line-height: 28px;
}
</style>
