<template>
  <button
    :style="{ backgroundColor: color, color: labelColor }"
    type="submit"
    :disabled="disabled"
    @click="$emit('handleClick')"
    class="btn"
  >
    {{ isLoading ? "loading..." : label }}
  </button>
</template>

<script>
export default {
  name: "ButtonFilled",
  props: {
    label: String,
    color: String,
    labelColor: String,
    disabled: Boolean,
    isLoading: Boolean,
  },
};
</script>

<style scoped>
.btn {
  display: inline-block;
  background: #42b983;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn:focus {
  outline: none;
}
.btn:active {
  transform: scale(0.98);
}
</style>
