<template>
  <button :disabled="disabled" @click="$emit('handleClick')" class="btn">
    {{ label }}
  </button>
</template>

<script>
export default {
  name: "ButtonOutlined",
  props: {
    label: String,
    disabled: Boolean,
  },
};
</script>

<style scoped>
.btn {
  display: inline-block;
  border: 1px solid #42b983;
  background-color: white;
  color: #42b983;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn:focus {
  outline: none;
}
.btn:active {
  transform: scale(0.98);
}
</style>
