<template>
  <div :style="{ display: modal.isShow ? 'block' : 'none' }" class="modal">
    <div :style="{ width: widthModal || '50%' }" class="modal-content">
      <span @click="$emit('handleCloseModal', !modal.isShow)" class="close"
        >&times;</span
      >
      <div style="text-align: left">
        <h3>{{ modal.headerTitle }}</h3>
        <div style="margin-top: 20px">
          <p>{{ modal.message }}</p>
        </div>
      </div>
      <div class="modal-body">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Modal",
  props: {
    modal: Object,
    widthModal: String,
  },
};
</script>

<style scoped>
.modal-body {
  padding: 24px 0px;
}

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 8px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>
