<template>
  <table id="customers">
    <tr>
      <th>Username</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Action</th>
    </tr>

    <tr v-for="(data, index) in dataTable" :key="index">
      <td>{{ data.username }}</td>
      <td>{{ data.firstName }}</td>
      <td>{{ data.lastName }}</td>
      <td>{{ data.email }}</td>
      <td>{{ data.phoneNumber }}</td>
      <td>
        <ButtonFilled
          @click="this.$emit('handleView', data)"
          labelColor="black"
          color="#e7e7e7"
          :label="'VIEW'"
        />
        <ButtonFilled
          @click="this.$emit('handleEdit', data)"
          color="#008CBA"
          :label="'EDIT'"
        />
        <ButtonFilled
          @click="this.$emit('handleDelete', data)"
          color="#f44336"
          :label="'DELETE'"
        />
      </td>
    </tr>
  </table>
  <p v-show="dataTable.length === 0" style="text-align: center">
    loading data...
  </p>
</template>

<script>
import ButtonFilled from "../components/ButtonFilled.vue";

export default {
  name: "Table",
  components: {
    ButtonFilled,
  },
  props: {
    dataTable: Array,
  },
};
</script>

<style scoped>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #42b983;
  color: white;
}
</style>
