<template>
  <div :class="'form-control'">
    <label :for="data.fieldName">{{ data.fieldLabel }}</label>
    <input
      :required="data.required"
      :id="data.fieldName"
      :value="data.defaultValue"
      :name="data.fieldName"
      :placeholder="data.fieldPlaceholder"
      :type="data.fieldType"
      @input="handleInput"
      @focus="isFocus = true"
      @blur="isFocus = false"
    />
  </div>
</template>

<script>
export default {
  name: "TextField",
  props: {
    data: Object,
  },
  data() {
    return {
      isFocus: false,
    };
  },
  methods: {
    handleInput(e) {
      this.$emit("handleInput", e.target.name, e.target.value);
    },
  },
};
</script>

<style scoped>
.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
  text-align: left;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px 0px;
  padding: 3px 7px;
  font-size: 17px;
}
</style>
